* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial Black', Arial, sans-serif;
    width: 100vw;
    height: 100vh;
}

.game {
    
    background: linear-gradient(#6fa8ff, #cfe8ff);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.top-bar {
    background: #4a90e2;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scores {
    background: linear-gradient(to bottom, #2c3e50 0%, #1a252f 100%);
    border: 4px solid #34495e;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.coin {
    background: #1e3c72;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
}

.setting {
    background: linear-gradient(to bottom, #2c3e50 0%, #1a252f 100%);
    border: 4px solid #34495e;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.setting:hover {
    transform: scale(1.05);
}

.setting:active {
    transform: scale(0.95);
}

.gear img {
    fill: white;
}


.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-red-button {
  width: 220px;
  height: 220px;
  border-radius: 450px;

  background: radial-gradient(
    circle at top,
    #ff6b6b,
    #e60000 70%);

  border: 8px solid #b3b3b3;

  box-shadow:
    inset 0 6px 0 rgba(255, 255, 255, 0.4),
    inset 0 -6px 0 rgba(0, 0, 0, 0.2),
    0 10px 0 #8c8c8c,
    0 18px 25px rgba(0, 0, 0, 0.4);

  cursor: pointer;
  outline: none;
  transition: transform 0.08s ease, box-shadow 0.08s ease;
}

.big-red-button:hover {
    transform: scale(1.05);
}

.big-red-button:active {
    transform: scale(0.95);
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background: #8b5a2b;
}

.nav {
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    border: 5px solid rgba(0,0,0,0.3);
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 140px;
}

.nav:hover {
    transform: scale(1.05);
}

.nav:active {
    transform: scale(0.95);
}

.tap { 
    background: linear-gradient(to bottom,  #4a90e2 0%, #2e6db7 100%);
}

.store {
    background: linear-gradient(to bottom, #f5a623 0%, #d48806 100%);
}

.ranking {
    background: linear-gradient(to bottom, #7ed321 0%, #5aa70a 100%);
}